.Lnb {
  margin-top: 90px;
  width: 100%;
  height: 115px;
  color: #fff;
  background-color: grey;
  padding: 20px;
  font-size: 20px;
  box-sizing: border-box;
}

.Lnb .Lnb__title,
.Lnb .Lnb__column {
  width: 100%;
  border-bottom: solid #eee;
  margin-bottom: 15px;
}
